footer {
  background-color: black;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.5vw;
  padding: 3%;
  padding-left: 5%;
  font-family: standard;
}
footer div {
  margin-bottom: 1%;
}

body {
  overflow-x: hidden;
}

.section-left a {
  color: black !important;
}

.info-text-top a {
  color: black !important;
}

#img-box {
  display: flex;
  justify-content: flex-end;
  height: 9vw;
  width: auto;
}

@font-face {
  font-family: titleFont;
  src: url("../font/hunkyDory.otf");
}

@font-face {
  font-family: standard;
  src: url("../font/static/MavenPro-Regular.ttf");
}

.content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(".././images/index.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  height: 115vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

#buttons section {
  display: flex;
  justify-content: center;
}

#title {
  margin-top: 3%;
  color: rgb(247, 204, 208);
  font-size: 7.3vw;
  font-weight: bolder;
  font-family: "Arial Black", sans-serif;
  text-align: center;
}

.doc-top {
  background: linear-gradient(120deg, white 20%, rgb(247, 204, 208));
  background-repeat: no-repeat;
  margin: 0;
  overflow-x: hidden;
}

.section-right {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  font-family: monospace;
  font-size: 1.8vw;
  background: linear-gradient(155deg, rgb(247, 204, 208) 25%, rgb(247, 204, 208) 65%, white 50%, white 100%);
}

.section-left {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  font-family: monospace;
  font-size: 1.8vw;
  background: linear-gradient(40deg, white 0%, white 25%, rgb(247, 204, 208) 25%, rgb(247, 204, 208) 75%, white 75%, white 100%);
}

.img {
  width: 100%;
  height: auto;
  padding: 5%;
  max-height: 800px;
  display: flex;
  justify-content: flex-end;
  object-fit: cover;
  position: relative;
}

.mini-title-top {
  font-family: titleFont;
  font-size: 4.5vw;
  text-align: center;
  padding-bottom: 2%;
}

.mini-title {
  font-family: titleFont;
  font-size: 4.5vw;
  text-align: center;
  padding-bottom: 2%;
}

.mini-title-left {
  font-family: titleFont;
  font-size: 4.5vw;
  text-align: center;
  padding-bottom: 2%;
}

.opening-hours {
  font-family: titleFont;
  font-size: 4.5vw;
  text-align: center;
}

.navbar-nav {
  font-family: standard;
}

.navbar-nav .nav-link:hover {
  color: gold !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:hover {
  color: gold !important;
}

.navbar {
  font-size: x-large;
}

.dropdown-menu {
  padding: 0;
  font-size: small !important;
}

.dropdown-item {
  padding: 0.5rem;
}

#lilText {
  min-height: 80vh;
}

@media (max-width: 600px) {
  #title {
    font-size: 8vw;
    margin-top: 10%;
  }
  footer div {
    font-size: 2vw;
  }
  #btm-img {
    width: 13.5vw;
    height: 13.5vw;
  }
  .info-text-left {
    font-size: 2.3vw !important;
  }
  .info-text-top {
    font-size: 2.3vw !important;
    padding-top: 4%; !important;
  }
  .info-text-right {
    font-size: 2.3vw !important;
  }
  .info-text-køb {
    font-size: 2.3vw !important;
  }
  .mini-title {
    font-size: 5vw;
    padding-bottom: 1%;
  }
  .mini-title-left {
    font-size: 5vw;
    padding-bottom: 1%;
  }
  .mini-title-top {
    font-size: 5vw;
    padding-bottom: 1%;
  }
  .navbar-image-container img {
    width: 30vw !important;
    height: auto;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .navbar-image-container {
    max-height: 10vw !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
  }
  .navbar a {
    font-size: medium !important;
  }
  .doc-top {
    background: linear-gradient(120deg, white 30%, rgb(247, 204, 208));
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
  }
  #extra-content {
    font-size: 5.5vw !important;
  }
  #top-box {
    height: 80vh !important;
  }

  .img {
    max-height: 300px;
  }

  .navbar .navbar-pics {
    display: none;
  }

  #opening-hours {
    font-size: 6vw !important;
  }
}

@media (max-width: 1225px) {
  .navbar-pics {
    display: none;
  }
}


.navbar-pics {
  padding-left: 28%;
}

.border-top-partial {
  position: relative;
}

.border-top-partial::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  border-top: 3px solid darkslategrey;
}

.border-top-partial-end {
  position: relative;
}

.border-top-partial-end::before {
  content: "";
  position: absolute;
  top: 0;
  left: 90%;
  width: 10%;
  border-top: 3px solid darkslategrey;
}

.text-container {
  width: 300px;
  max-height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 100%;
  font-family: standard;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
  -ms-transform: translate(-50%) rotate(45deg);
  transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #fefca6;
  color: black;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  background: linear-gradient(110deg, white 25%, rgb(247, 204, 208) 25%, rgb(247, 204, 208) 80%, white 65%, white 100%);
}

.image-item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  background: linear-gradient(70deg, white 25%, rgb(247, 204, 208) 25%, rgb(247, 204, 208) 80%, white 65%, white 100%);
}

.image-item img {
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.image-item-2 img {
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-image-container {
  max-height: 7vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
}

.navbar-image-container img {
  width: 20vw;
  height: auto;
  margin-top: -10px;
  margin-bottom: -10px;
}

#extra-content {
  font-size: 4.4vw;
  font-family: "Arial Black", sans-serif;
  font-weight: bolder;
  text-align: center;
  color: rgb(247, 204, 208);
}

#content {
  background: linear-gradient(30deg, white 0%, white 5%, rgb(247, 204, 208) 40%, rgb(247, 204, 208) 90%, white 10%);
  margin: 0;
}

.info-text-right {
  font-size: 1.9vw;
  padding-right: 3.5%;
  text-align: center;
}

.info-text-top {
  font-size: 1.9vw;
  padding-right: 3.5%;
  text-align: center;
}

.info-text-left {
  font-size: 1.9vw;
  padding-left: 2%;
  text-align: center;
}

.info-text-køb {
  font-size: 1.9vw;
  padding-left: 2%;
  text-align: center;
}

#opening-hours {
  text-align: center;
  font-family: "Arial Black", sans-serif;
  font-weight: bolder;
  font-size: 4.4vw;
  color: rgb(247, 204, 208);
  line-height: 1.8;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

li {
  padding-right: 2%;
}

  iframe {
    width: 99%;
    height: 800px; 
    margin: 0.5%;
  }

  @media (max-width: 768px) {
    iframe {
      height: 400px; 
    }
  }

  @media (max-width: 480px) {
    iframe {
      height: 250px;
    }
  }








